/* created by Brad R. Allen */
/* clean defaults based on the HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

/*Color pallet:
dark blue #001932 | orange #FF6600 | grey #757575 | light grey #F2F2F2 | White #ffffff
 */

html {
    box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    margin: 0;
    background: #001932;
}
header{
    margin: 10px auto 0px;
    width: 90%;
    max-width: 960px;
    border-radius: 10px;
}
header h1, header h2{
  font-family: 'zilla slab', sans-serif;
  font-weight: 700;
  text-align: center;
  color:#ffc728;
}
#maincontent {
    margin: 10px auto 0px;
    padding: 10px 0px;
    width: 90%;
    max-width: 960px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
#carddeck {
    margin: 10px auto 0px;
    padding: 10px 0px;
    width: 90%;
    max-width: 960px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
@supports (-ms-accelerator:true) {/* Edge Only*/
  #carddeck {
    justify-content: space-around;
  }
}

.sand {
  display:block;
}

/*fip card*/
.card {/* flip-container */
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    margin: 5px;
	font-family: 'zilla slab', sans-serif;
}
.card, .thefront, .theback {
    width: 250px;
    height: 320px;
}

.thecard{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 0.8s ease;
}
.thecard {/* .flipper */
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    position: relative;
}

.thefront, .theback {/* .front .back*/
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;


    position: absolute;
    top: 0;
    left: 0;
	
	border-radius: 10px;
	
	text-align: center;
	
}

.thefront{
	/* stlying for front of card */
	background: #ffc728;
	color: #000;
}

.theback{
	-webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);

	/* stlying for back of card */
	background: #fafafa;
	color: #333;
	border: 1px solid #001932;
}

.card:hover .theback, .card.hover .theback {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card:hover .thefront, .card.hover .thefront {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.thefront {
    z-index: 2;
}

/* for styling of the card, NOT part of the flip code */
.thefront h1, .theback h1{
  padding: 10px 10px 3px 10px;
  font-weight: 500;
  text-align: center;
}

.thefront p, .theback p{
  margin-top: 7px;
  padding: 3px 10px;
  font-weight: 400;
  font-size: 1.1rem;
  text-align: center;
}

.objectivestatus {
  position: absolute;
  bottom: 7%;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  text-align: center;
}
p.flipnote {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  backface-visibility: hidden;
  margin: 3px;
  padding: 5px;
  font-size: .8rem;
}

p.usage {
  padding: auto 15px;
  text-align: left;
}

.skilled {
  color: #008000;
  font-size: 1.4rem;
  baseline-shift:20%;   /* Percentage */
}

/*drumming finger text animation*/
@keyframes drumming {
   0% { color: black; }
    50% { color: red; }
    100% { color: black; }
/*    0% {
        transform:translateY(0px)
    }
    50% {
        transform:translateY(-25px);
    }
    100% {
        transform:translateY(0px)   
    }*/
}

.gradePending span {
/*  background-color:red;*/
  animation:drumming 2s infinite;
}

h3.gradePending :nth-child(1) {
    animation-delay:0s;
}
h3.gradePending :nth-child(2) {
    animation-delay:.1s;  
}
h3.gradePending :nth-child(3) {
    animation-delay:.2s;
}
h3.gradePending :nth-child(4) {
    animation-delay:.3s;    
}
h3.gradePending :nth-child(5) {
    animation-delay:.4s;
}
h3.gradePending :nth-child(6) {
    animation-delay:.5s;    
}
h3.gradePending :nth-child(7) {
    animation-delay:.6s;
}
h3.gradePending :nth-child(8) {
    animation-delay:.7s;    
}
h3.gradePending :nth-child(9) {
    animation-delay:.8s;
}
h3.gradePending :nth-child(10) {
    animation-delay:.9s;    
}
h3.gradePending :nth-child(11) {
    animation-delay:1.0s;
}
h3.gradePending :nth-child(12) {
    animation-delay:1.1s;    
}
h3.gradePending :nth-child(13) {
    animation-delay:1.2s;
}
h3.gradePending :nth-child(14) {
    animation-delay:1.3s;
}
h3.gradePending :nth-child(15) {
    animation-delay:1.4s;    
}
h3.gradePending :nth-child(16) {
    animation-delay:1.5s;
}
h3.gradePending :nth-child(17) {
    animation-delay:1.6s;    
}
h3.gradePending :nth-child(18) {
    animation-delay:1.7s;
}
h3.gradePending :nth-child(19) {
    animation-delay:1.8s;    
}
h3.gradePending :nth-child(20) {
    animation-delay:1.9s;
}
h3.gradePending :nth-child(21) {
    animation-delay:2.0s;    
}

/*constellation map*/
#starChart {
  margin:auto;
  background-color:black;
}

#video {
/*  display:none;*/
  text-align:center
  padding:10px;
}

/*medium size Media Query*/
@media only screen and (min-width: 43.75em) {
  /* so minimum width is 700px i.e. 43.75 x 16px  */
  #carddeck {
    flex-flow: row;
    flex-wrap: wrap;
  }
}
